<% layout('./layout/boilerplateShow.ejs') %>
<% include('../partials/settingNav.ejs') %> 

<article class="flex-column-centered">
    <div>
        <h3>Encoder <%= comp.name %> Details</h3>
        <button id="unlock-btn">Unlock</button>
        <form action="<%= comp.id %>?_method=PATCH" method="POST">   
            <div>
                <label>Encoder Name</label>
                <input type="text" name="encoder[name]" id="name" value='<%=comp.name%>' >
            </div>
            <div>
                <label>PingPlotter Link</label>
                <input type="text" name="encoder[link]" id="link" value='<%=comp.link%>' >
            </div>
            <div>
                Originally Added: <%= comp.created  %> 
                <% if(comp.updated){ %>
                Last Updated: <%= comp.updated %> 
                <% } %> 
            </div>
            <div>
                <button type="submit" class="button button-primary">Submit</button>
                <a class="button cancel-btn" href="/settings">Cancel</a>
            </div>
        </form>
    </div>  
</article>