<% layout('./layout/boilerplate.ejs') %>
<link rel="stylesheet" href="/stylesheets/show.css">
<%- include('../partials/settingNav.ejs') %>
 
<section class="container mt-2">
    <h3>User Details</h3>
    <div class="flex-row">
        <button class="button" id="unlock-btn">Unlock</button>
        <a href="/settings" class="button cancel-btn">Cancel</a>
    </div>
    <hr />
    <section class="flex-row-even flex-align-top">
    <form id="user-edit" action="/settings/users/<%= user.id %>?_method=PATCH" method="POST">
        <fieldset class="p-1">
            <legend>User Info</legend>
            <div class="ma-1">
                <label for="username">Username: <%= user.username %> </label>
                <input class="disabled" type="text" name="user[username]" id="username" disabled="true">
            </div>
            <div class="ma-1">
                <label for="email">Email: <%= user.email %></label>
                <input class="disabled" type="email" name="user[email]" id="email" disabled="true">
            </div>
            <div>
                <label class="mb-1">Current Role: <%= user.role %></label>
                <label for="role" style="display: inline;">Change Role:</label>
                <select class="disabled" name="user[role]" required disabled="true">
                    <option value="">Choose Role</option>
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <div class="flex-row-even">
                <button type="submit" class="sub disabled button button-primary" disabled="true">Submit</button>
            </div>
            </fieldset>
    </form> 
    <form id="pass-edit" action="/login/reset/<%= user.id  %> " method="POST">
        <fieldset class="p-1">
            <legend>Change Password</legend>
            <div class="ma-1">
                <label for="password">New Password:</label>
                <input class="disabled" type="password" name="[pass]password" id="password1" disabled="true">
            </div>
            <div class="ma-1" >
                <label for="password">Re-Type Password:</label>
                <input class="disabled" type="password" id="password2" disabled="true">
            </div>
            <div class="flex-row-even">
                <button type="submit" class="sub disabled button button-primary" disabled="true">Submit</button>
            </div>
        </fieldset>
        </form>
    </section>

    </section>
    
    <script src="/javascripts/showUser.js"></script>